<div class="bg-auto min-h-screen flex items-center justify-center bg-gray-800">
  <div class="max-w-sm w-full bg-slate-900 p-8 rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold text-white mb-4 text-center">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-5">
        <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-300" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", 
              class: "mt-1 block w-full p-2 border border-gray-600 rounded-lg bg-gray-700 text-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-gray-400", 
              placeholder: "name@flowbite.com", required: true %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", 
              class: "text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5" %>
      </div>
    <% end %>

    <div class="mt-4 text-center text-slate-200">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
