<div class="bg-auto min-h-screen flex items-center justify-center bg-gray-800">
  <div class="max-w-sm w-full bg-slate-900 p-8 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold text-white mb-6 text-center">Log in</h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mb-5">
        <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-300" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", 
              class: "bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400", 
              placeholder: "name@flowbite.com", required: true %>
      </div>

      <div class="field mb-5">
        <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-300" %>
        <%= f.password_field :password, autocomplete: "current-password", 
              class: "bg-gray-700 border border-gray-600 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400", 
              required: true %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5" %>
      </div>
    <% end %>

    <div class="mt-4 text-center text-slate-200">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
